[submodule "making_sure_everything_is_ok_js_ts"]
	path = making_sure_everything_is_ok_js_ts
	url = https://github.com/ahmedeid89/making_sure_everything_is_ok_js_ts.git
[submodule "Smart_Find"]
	path = Smart_Find
	url = https://github.com/ahmedeid89/Smart_Find.git
